<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Получение пароля</title>
</head>
<body>
  <div id="app">
    <h1>Получение пароля от аккаунта Pro.Finansy:</h1>
    <h2>Перейдите по этой ссылке: <a href="{{ link }}" target="_blank">{{ link }}</a></h2>
    <h2>Или <a href="{{ link }}" target="_blank">нажмите сюда</a></h2>
  </div>
</body>
</html>